<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">
    <img src="/assets/img/kaleidoscopeLogo.png" width="80" height="80" alt="Kaleidoscope" /> {{ title }}
  </span>
</nav>
<div id="container">
  <div style="float: left; background-color: #CCC; width: 20%; height: 100%; padding-top: 120px;">
    <app-app-blocks></app-app-blocks>
  </div>
  <div style="float: left; width: 80%; height: 100%; overflow-y: hidden;">
    <div style="padding-left: 15px; padding-top: 105px; min-width:100%; height: 100%; overflow-y: auto; overflow-x: hidden;">
      <app-commonelement></app-commonelement>
      <app-checkerboard></app-checkerboard>
    </div>
  </div>
</div>

