<div class="card border-secondary" style="width: 90%; padding: 5px;  margin:0 auto;" (click)="CommonElement()">
  <div class="card-body">
    <h5 class="card-title">Common Elements</h5>
    <p class="card-text">This module accepts 2 arrays as input and displays the common integers in both arrays.  Click this block to try.</p>
  </div>
</div>
<br/>
<div class="card border-secondary" style="width: 90%; padding: 5px;  margin:0 auto;" (click)="CheckerBoard()">
  <div class="card-body">
    <h5 class="card-title">Checkerboard</h5>
    <p class="card-text">This module utilizes loops to generate a Checkerboard.  Click this block to try.</p>
  </div>
</div>
